{% extends "practiapp/base.html" %}

{% load static %}

{% block content %}

    

    <div class="centre">
        
        <h2>Registro de Usuario</h2>
        <br>
        <form action="" method="post" > {% csrf_token %}
            {% load crispy_forms_tags %}
            <table>
                {{ form.as_table }}   
            </table>
    
            <input type="reset" class="btn btn-primary" value="Limpiar">
            <input type="submit" class="btn btn-primary" value="Registrar">
        </form>
    </div>
        
   
    
{{mensaje}}


{% endblock %}