{% extends "practiapp/base.html" %}

{% load static %}

{% block content %}

<h2>Listado de Ofertas</h2> <br>

{% if ofertas %}
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Nombre</th>
        <th>Area</th>
        <th>Ciudad</th>
        <th>Salario</th>
        <th>Opciones</th>
    </tr>
    </thead>
    {% for p in ofertas %}

    <tr>
        <td>{{ p.titulo }}</td>
        <td>{{ p.area }}</td>
        <td>{{ p.ciudad }}</td>
        <td>{{ p.salario }}</td>

        
        <td>
            <a class="btn btn-primary" href="{% url 'modificar' p.id %}">Modificar</a>
            <a class="btn btn-primary" href="{% url 'aplicantes' p.id %}">Ver Aplicantes</a>
            <a class="btn btn-primary" href="{% url 'eliminar' p.id %}" onclick="return confirm('¿Estás seguro de eliminar esta publicación?')">Eliminar</a>
        </td>
    </tr>
    
    {% endfor %}
</table>
{% endif %}



{% endblock %} 